# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Java / Spring Boot
target/
*.log
*.class
*.jar
*.war
*.ear

# Node / Frontend
node_modules/
dist/
build/
.cache/
*.map

# Env & secrets
.env
.env.*
attendance-backend/src/main/resources/application-*.properties

# Misc
*.zip
